// ----------------------------------------------------------------------------
// File Developrer: Peter Pak
// Description: Custom scss classes for skills content component
// ----------------------------------------------------------------------------

// Skills Page Content Style --------------------------------------------------
.collapse-header {
  margin: 0em;
  color: white;
  text-decoration: none;
}

.collapse-header:hover {
  color: #007bff;
  text-decoration: none;
}
// ----------------------------------------------------------------------------
