// ----------------------------------------------------------------------------
// File Developrer: Peter Pak
// Description: Custom scss classes for skills content component
// ----------------------------------------------------------------------------

// Skills Page Content Style --------------------------------------------------
.skills-bg{
  background-color: $ter-color;
  border-color: $sec-color;
}

.collapse-header {
  margin: 0em;
  color: $sec-color;
  border-bottom-color: $sec-color;

  text-decoration: none;
}

.collapse-header:hover {
  color: $hov-color;
  border-bottom-color: $sec-color;
  text-decoration: none;
}
// ----------------------------------------------------------------------------
