// ----------------------------------------------------------------------------
// File Developrer: Peter Pak
// Description: Custom scss classes for navigation bar component
// ----------------------------------------------------------------------------

// Navigation Bar Component ---------------------------------------------------
.navbar-outrun {
  background-color: $ter-color;
}

.brand-border {
  height: 2em;
  width: 2em;
  border: 0.1em solid $gen-color;
}

.brand-border:hover{
  border: 0.1em solid $hov-color;
}
// ----------------------------------------------------------------------------
