// ----------------------------------------------------------------------------
// File Developer: Peter Pak
// Description: Script for biography styles
// ----------------------------------------------------------------------------

.biography {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: black;
}
