// ----------------------------------------------------------------------------
// File Developer: Peter Pak
// Description: Script for style constants
// ----------------------------------------------------------------------------

// Font Import ----------------------------------------------------------------
@font-face {
  font-family: "DS-DIGII";
  src: url("/static/fonts/DS-DIGII.TTF") format("truetype");
}
// ----------------------------------------------------------------------------

// Colors ---------------------------------------------------------------------
$bg-color: #032280;                                                             // Background Color
$hov-color: #FCC42A;                                                            // Hover Color
$gen-color: #FC04FC;                                                            // General Color
$pri-color: #2AF2F8;                                                            // Primary Color
$sec-color: #0000ff;                                                            // Secondary Color
$ter-color: #ddf;                                                               // Tertiary Color
// ----------------------------------------------------------------------------

// Size -----------------------------------------------------------------------
$navbar-height: 40px;
// ----------------------------------------------------------------------------
