// ----------------------------------------------------------------------------
// File Developrer: Peter Pak
// Description: Custom scss precompiler file for css elements
// ----------------------------------------------------------------------------

// Document -------------------------------------------------------------------
body {
  font-family: "Quicksand", sans-serif;
  background-color: $bg-color;
  background-image: linear-gradient(to bottom, $bg-color, $ter-color);
  background-attachment: fixed;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
// ----------------------------------------------------------------------------

// Text -----------------------------------------------------------------------
a {
  color: $gen-color;
  text-decoration: none;
}
a:hover {
  color: $hov-color;
  text-decoration: none;
}
h1 {
  font-family: "DS-DIGII";
  color: $pri-color;
}
// ----------------------------------------------------------------------------
