// ----------------------------------------------------------------------------
// File Developrer: Peter Pak
// Description: Custom scss classes for welcome header component
// ----------------------------------------------------------------------------

// Welcome Page ---------------------------------------------------------------
.rounded-circle {
  margin: 1em;
  height: 25em;
  width: 25em;
  border: none;
}

.profile-border {
  border: 1em solid #343a40;
}

.profile-name {
  margin: 0.25em;
  font-size: 5em;
}
// ----------------------------------------------------------------------------
