// ----------------------------------------------------------------------------
// File Developrer: Peter Pak
// Description: Custom scss classes for welcome header component
// ----------------------------------------------------------------------------

// Welcome Page ---------------------------------------------------------------
.profile-border {
  margin: 1em;
  height: 25em;
  width: 25em;
  border: 0.5em solid $gen-color;
}

.profile-border:hover{
  border: 0.5em solid $hov-color;
}

.profile-name {
  margin: 0.25em;
  font-size: 5em;
}
// ----------------------------------------------------------------------------
