/* Effects Constants */

@default-transition-time: 0.3s;
@default-opacity: 0.85;
@default-box-shadow: 0.1em 0.1em 0.2em;

/* Parallax Scrolling */

.parallax {
}

.parallax-layer {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.parallax-bg {
  height: 30em;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-base {
  padding-top: 5em;
  padding-bottom: 5em;
  transform: translateZ(0);
}