/* Element Constants */

@default-border-radius: 1em;

/* Scrollbar */

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* Body */

body { 
  background-color: @background-color;
  font-family: "Quicksand", sans-serif;
  margin:0; 
  padding:0; 
  font-size:100%; 
  line-height:1; 
  overflow: hidden;
}

/* Button */

button {
  border: none;
  background-color: @button-primary-color;
  border-radius: @default-border-radius;
  font-size: 1rem;
  margin: @button-margin;
  opacity: @default-opacity;
  outline: none;
  padding: @button-padding;
  transition: @default-transition-time;
}

button:hover {
  opacity: 1;
  box-shadow: 0.1em 0.1em 0.2em;
  cursor: pointer;
}

button:active {
  background-color: @button-primary-active-color;
}

/* Unordered List */
ul {
  padding-inline-start: 0px;
}

/* List Item */
li {
  list-style-type: none;
}