
/* Size Constants */

@width-xsm: 360px;
@width-sm: 540px;
@width-md: 720px;
@width-lg: 900px;
@width-xlg: 1080px;

@page-side-padding: 10rem;
@page-top-padding: 3rem;

@footer-padding: 2rem;

/* Id Constants */

#root {}

/* Class Constants */

.page-wrapper {
  text-align: center;
  min-width: @width-sm;
  margin-top: @navbar-height;
  padding-top: @page-top-padding;
}

.page-side-padding {
  box-sizing: border-box;
  padding-left: @page-side-padding;
  padding-right: @page-side-padding;
}

.footer {
  text-align: center;
  box-sizing: border-box;
  min-width: @width-sm;
  padding-bottom: @footer-padding;
  padding-left: @page-side-padding;
  padding-right: @page-side-padding;
  padding-top: @footer-padding;
}