
/* Size Constants */

@width-xsm: 360px;
@width-sm: 540px;
@width-md: 720px;
@width-lg: 900px;
@width-xlg: 1080px;

@page-horizontal-padding: 10rem;
@page-vertical-padding: 1.5rem;

@footer-padding: 2rem;

/* Page Constants */

.page-wrapper {
  text-align: center;
  min-width: @width-sm;
  margin-top: @navbar-height;
}

.page-header {
  box-sizing: border-box;
  padding-bottom: @page-vertical-padding;
  padding-top: @page-vertical-padding;
}

.page-side-padding {
  box-sizing: border-box;
  padding-left: @page-horizontal-padding;
  padding-right: @page-horizontal-padding;
}

/* Footer */

.footer {
  text-align: center;
  box-sizing: border-box;
  min-width: @width-sm;
  padding-bottom: @footer-padding;
  padding-left: @page-horizontal-padding;
  padding-right: @page-horizontal-padding;
  padding-top: @footer-padding;
}