/* Education Page Constants */

@department-icon-height: 3rem;

/* Background Image Ids */

#campus {
  background-image: url('@{base-url}/public/images/cmu-night.jpg');
}

#graduation {
  background-image: url('@{base-url}/public/images/graduation.jpg');
}

/* Education Page Styles */

.department-icon {
  height: @department-icon-height;
  width: auto;
  margin: 1rem;
}

.icons {
  height: 5em;
  transform: translateZ(0);
}