/* Navigation Bar Constants */

@navbar-top-color: rgba(255, 255, 255, 1);
@navbar-middle-bottom-color: rgba(245, 245, 245, 0.8);
@navbar-middle-top-color: rgba(200, 200, 200, 0.7);
@navbar-bottom-color: rgba(150, 150, 150, 0.6);

@navbar-item-color: @bs-cyan;
@navbar-item-active-color: @bs-cyan-dark;
@navbar-link-color: @bs-white;
@navbar-link-color-hover: @bs-black;

@navbar-height: 3rem;
@navbar-margin: 0.5em;
@navbar-brand-icon-size: 0.8em;

@navbar-box-shadow: 0em 0.5em 1em rgba(100,100,100,0.8);

/* Navigation Bar Styles */

.navbar {
  background: linear-gradient(@navbar-top-color, @navbar-middle-bottom-color);
  min-width: @width-sm;
  margin: 0;
  height: @navbar-height;
  width: 100%;
  position: fixed;
  top: 0;
  transition: @default-transition-time;
  z-index: 2;
}

.navbar:hover {
  box-shadow: @navbar-box-shadow;
}

.navbar-brand {
  display: inline-block;
  border-radius: @default-border-radius;
  background-color: @navbar-item-color;
  color: @navbar-link-color;
  text-decoration: none;
  transition: @default-transition-time;
  padding: @button-padding;
  margin: @navbar-margin;
}

.navbar-brand-icon {
  border-radius: @default-border-radius;
  height: @navbar-brand-icon-size;
  opacity: @default-opacity;
  width: @navbar-brand-icon-size;
}

.navbar-list {
  float: right;
  margin: @navbar-margin;
  list-style-type: none;
  overflow: hidden;
}

.navbar-list-item {
  float: left;
  background-color: @navbar-item-color;
  border-radius: @default-border-radius;
  opacity: @default-opacity;
  transition: @default-transition-time;
  
  cursor: pointer;
  margin-left: @navbar-margin;
  margin-right: @navbar-margin;
  padding: @button-padding;
  text-decoration: none;
  .navbar-link {
    color: @navbar-link-color;
  }
}

.navbar-brand:hover,
.navbar-list-item:hover {
  opacity: 1;
  box-shadow: @default-box-shadow;
  color: @navbar-link-color-hover;
  .navbar-link {
    color: inherit;
  }
}

.navbar-brand:active,
.navbar-list-item:active {
  background-color: @navbar-item-active-color;
}

/* Dropdown */

.navbar-dropdown-button {
  background-color: @navbar-item-color;
  border-radius: @default-border-radius;
  color: @navbar-link-color;
  cursor: pointer;
  display:inline-block;
  margin: 0;
  margin-left: 0.25em;
  margin-bottom: 0.4em;
  padding: @button-padding;
  opacity: @default-opacity;
  text-decoration: none;
  transition: @default-transition-time;
}

.navbar-dropdown {
  display: inline-block;
  float: left;
  margin-left: @navbar-margin;
  margin-right: @navbar-margin;
}

.navbar-dropdown-content {
  background: linear-gradient(@navbar-middle-top-color, @navbar-bottom-color);
  border-bottom-left-radius: @default-border-radius;
  border-bottom-right-radius: @default-border-radius;
  display: none;
  padding: @button-padding;
  position: absolute;
  z-index: 1;
}

.navbar-dropdown:hover {
  display: block;
  .navbar-dropdown-button {
    opacity: 1;
    box-shadow: @default-box-shadow;
    color: @navbar-link-color-hover;
  }
  .navbar-dropdown-content {
    box-shadow: @navbar-box-shadow;
    display: inherit;
    .navbar-link {
      opacity: @default-opacity;
      background-color: @navbar-item-color;
      border-radius: @default-border-radius;
      color: @navbar-link-color;
      display: inherit;
      margin-bottom: @navbar-margin;
      margin-top: @navbar-margin;
      padding: @button-padding;
      text-align: center;
      text-decoration: none;
      transition: @default-transition-time;
    }
    .navbar-link:hover {
      opacity: 1;
      box-shadow: @default-box-shadow;
      color: @navbar-link-color-hover;
    }
    .navbar-link:active {
      background-color: @navbar-item-active-color;
    }
  }
}
