// ----------------------------------------------------------------------------
// File Developer: Peter Pak
// Description: Script for style constants
// ----------------------------------------------------------------------------

// Colors ---------------------------------------------------------------------
$theme-color: #fff;
$general-color: #f2f2ff;
$default-color: #000;
$primary-color: #0000ff;
$secondary-color: #0000ff;
$tertiary-color: #ddf;
// ----------------------------------------------------------------------------

// Size -----------------------------------------------------------------------
$navbar-height: 40px;
// ----------------------------------------------------------------------------
