// ----------------------------------------------------------------------------
// File Developer: Peter Pak
// Description: Script for media styling
// ----------------------------------------------------------------------------

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}
