// ----------------------------------------------------------------------------
// File Developrer: Peter Pak
// Description: Custom scss classes for welcome content component
// ----------------------------------------------------------------------------

// Welcome Page Content Style -------------------------------------------------
.collapse-header {
  color: #007bff;
  text-decoration: none;
}

.collapse-header:hover {
  color: blue;
  text-decoration: none;
}
// ----------------------------------------------------------------------------
